/*--------------
Structure
--------------*/
body{
	font-family: Catamaran;
    background: #f6f4f4;
    margin:0;
}

main {
    width: 900px;
    margin: auto;
    position: relative;
    top: 50px;
}

#toc {
    width: 29%;
    float: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-sizing: border-box;
    padding: 13px;
    background: #e9d5f6;
}

#content {
    background: white;
    width: 70%;
    float: right;
    padding: 60px;
    box-sizing: border-box;
}

/*--------------
Menus
--------------*/

#main-menu {
    width: 100%;
    background: #feb366;
    position: fixed;
    z-index: 1;
}

#primary-nav {
    margin: auto;
    width: 900px;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    position: relative;
}

#main-menu li {
    display: inline-block;
    margin: 0;
}

#main-menu a {
    display: inline-block;
    padding: 5px 10px 5px 10px;
}

#primary-nav>li>a {
    color: white;
}

#primary-nav>li>a:hover {
    color: #feb366;
    background: white;
}
.secondary-nav {
    display: none;
    color: orange;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 68px;
    box-sizing: border-box;
    width: 150px;
    background: white;
}

#main-menu li:hover>ul {
    display: block;
}

.secondary-nav>li>a {
    padding: 5px 10px 5px 10px;
    background: white;
    color: orange;
    width: 150px
}

/*.secondary-nav>li>a:hover {
	background: orange;
	color: white;
}*/

.tertiary-nav>li>a {
	color: white;
    box-sizing: border-box;
    width: 200px;
    background: orange;
}

.tertiary-nav>li>a:hover {
	color: orange;
	background: white;
}
.tertiary-nav {
	position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 150px;
    display: none;
}

.secondary-nav li:hover>.tertiary-nav {
    display: inline;
}

ul.tertiary-nav li {
    width: 200px;
    padding: 0;
}

/*---------------
Page Content
----------------*/

table {
    border-collapse: collapse;
    margin: auto;
}

th, td {
    border: none;
}

.demo {
	width: 100%;
}

.demo td, .demo th {
    border: 1px solid gainsboro;
    text-align: center;
}

td {
    padding: 14px;
    margin: 0;
}

.demo th {
    padding: 5px;
    background: gainsboro;
    color: #4b4646;
}

.solution table {
	margin: 0;
	width: 100%;
}

.answer-guide td:first-child + td {
	color: #df304f;
	font-style: italic;
	padding: 0;
}
#toc ul {
    list-style: none;
    font-size: 10px;
    padding: 0;
    margin: 0;
}

#toc li {
    margin-bottom: 5px;
    padding: 7px;
}

#toc li:hover {
    background: white;
}


#toc ul>ul {
	padding-left: 15px;
}

.solution {
	    background: #f01f43;
    box-sizing: border-box;
    padding: 4px;
}
.solution-text {
    background: #faf9e6;
    padding: 15px;
    display:none;
}

button.solution-button {
    border: none;
    width: 100%;
    text-align: left;
    padding: 5px;
    text-transform: uppercase;
    color: white;
    background: #f01f43;
    margin: 0;
}

button.solution-button:focus {
    outline: none;
}

.example-guide td:nth-child(2) {
    font-style: italic;
    color: #0ca0a7;
}

.example-guide td {
    padding: 0;
}
.example-guide td:first-child {
    width: 25%;
    vertical-align: top;
}
.example-header {
    color: #0ca0a7;
    text-transform: uppercase;
    font-weight: bold;
}
.example {
    border: 3px solid #0ca0a7;
    padding: 25px;
    background: #feffed;
}

img {
	width: 100%;
}
/*---------------
Text
----------------*/

.x {
	font-style: italic;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
	letter-spacing: 1px;
}

h1 {
    letter-spacing: 5px;
    color: #6f6fa4;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.equation {
    font-size: 25px;
    text-align: center;
    font-family: serif;
}

/*--- Source for Fraction--*/
/*https://stackoverflow.com/questions/7525977/how-to-write-fraction-value-using-html*/
.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
.frac > span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
    border-top: thin solid black;
}
.frac span.symbol {
    display: none;
} 

.questions td {
    text-align: left;
    border: none;
}

table.questions {
    margin: 0;
}

/*---------------
Links
----------------*/

a, a:visited {
    text-decoration: none;
    color: #3414b6;
}

a:hover {
	color: #d72746;
}

#toc a:hover {
    color: #3414b6;
}
